USE [MG_SOLUCIONES]
GO
/****** Object:  Table [dbo].[TBL_MATERIALES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MATERIALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATERIAL] [varchar](200) NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MATERIALES_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MATERIALES_SOLICITUDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INGRESO] [datetime] NULL,
	[ID_SOLICITUD] [int] NOT NULL,
	[ID_MATERIAL] [int] NULL,
	[CANTIDAD] [varchar](20) NULL,
	[CEDULA_TECNICO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NOTAS_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NOTAS_SOLICITUDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_NOTA] [datetime] NULL,
	[ID_SOLICITUD] [int] NOT NULL,
	[OBSERVACIONES] [varchar](1000) NULL,
	[CEDULA_USUARIO_INSERTO_NOTA] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ROL_USUARIO]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ROL_USUARIO](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_USUARIO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SOLICITUDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INGRESO] [datetime] NULL,
	[NUM_EXP] [int] NOT NULL,
	[POLIZA] [varchar](10) NULL,
	[ASEGURADO] [varchar](200) NULL,
	[CONTACTO] [varchar](100) NULL,
	[FACT] [varchar](100) NULL,
	[TECNICO] [varchar](100) NULL,
	[DIRECCION] [varchar](100) NULL,
	[ESTADO_CASO] [varchar](50) NULL,
	[CEDULA_USUARIO_CREACION] [int] NULL,
	[FECHA_CIERRE] [datetime] NULL,
	[CEDULA_USUARIO_CIERRE] [int] NULL,
	[USUARIO_ULTIMA_ACTUALIZACION] [int] NULL,
	[CEDULA_TECNICO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TURNOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TURNOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA_TECNICO] [int] NULL,
	[ID_SOLICITUD] [int] NOT NULL,
	[FECHA_TURNO] [varchar](50) NULL,
	[TRABAJO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USUARIOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USUARIOS](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CEDULA] [numeric](18, 0) NULL,
	[NOMBRE] [varchar](100) NULL,
	[CONTRASEÑA] [varchar](30) NULL,
	[CARGO] [varchar](50) NULL,
	[ID_ROL] [int] NULL,
	[ESTADO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TBL_MATERIALES_SOLICITUDES]  WITH CHECK ADD FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[TBL_MATERIALES] ([ID])
GO
ALTER TABLE [dbo].[TBL_MATERIALES_SOLICITUDES]  WITH CHECK ADD FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[TBL_MATERIALES] ([ID])
GO
ALTER TABLE [dbo].[TBL_MATERIALES_SOLICITUDES]  WITH CHECK ADD FOREIGN KEY([ID_SOLICITUD])
REFERENCES [dbo].[TBL_MATERIALES] ([ID])
GO
ALTER TABLE [dbo].[TBL_TURNOS]  WITH CHECK ADD FOREIGN KEY([ID_SOLICITUD])
REFERENCES [dbo].[TBL_SOLICITUDES] ([ID])
GO
ALTER TABLE [dbo].[TBL_USUARIOS]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL_USUARIO] ([ID_ROL])
GO
ALTER TABLE [dbo].[TBL_USUARIOS]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TBL_ROL_USUARIO] ([ID_ROL])
GO
/****** Object:  StoredProcedure [dbo].[ABC_MATERIALES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[ABC_MATERIALES]
	@ACCION VARCHAR(50),
	@ID INT,
	@MATERIAL VARCHAR(200),
	@CANTIDAD VARCHAR(20)
AS BEGIN
IF (@ACCION = 'INSERTAR')
BEGIN
	INSERT INTO TBL_MATERIALES(
	MATERIAL,
	CANTIDAD)
	VALUES ( @MATERIAL, @CANTIDAD)
END
IF (@ACCION = 'UPDATE')
BEGIN
	UPDATE TBL_MATERIALES 
	SET CANTIDAD = @CANTIDAD
	WHERE ID = @ID
END
END







GO
/****** Object:  StoredProcedure [dbo].[ABC_MATERIALES_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ABC_MATERIALES_SOLICITUDES]
	@ACCION VARCHAR(50),
	@ID INT,
	@FECHA_INGRESO DATETIME,
	@ID_SOLICITUD INT,
	@ID_MATERIAL INT,
	@CANTIDAD VARCHAR(20),
	@CEDULA_TECNICO INT
AS BEGIN
IF (@ACCION = 'INSERTAR')
BEGIN
	INSERT INTO TBL_MATERIALES_SOLICITUDES(
	FECHA_INGRESO,
	ID_SOLICITUD,
	ID_MATERIAL,
	CANTIDAD,
	CEDULA_TECNICO)
	VALUES (GETDATE(), @ID_SOLICITUD, @ID_MATERIAL, @CANTIDAD, @CEDULA_TECNICO)
END
IF (@ACCION = 'UPDATE')
BEGIN
	UPDATE TBL_MATERIALES_SOLICITUDES 
	SET CANTIDAD = @CANTIDAD
	WHERE ID = @ID
END
END






GO
/****** Object:  StoredProcedure [dbo].[ABC_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ABC_SOLICITUDES]
	@ACCION VARCHAR(50),
	@ID INT,
	@NUM_EXP INT,
	@POLIZA VARCHAR (10),
	@ASEGURADO VARCHAR (200),
	@CONTACTO VARCHAR(100),
	@FACT VARCHAR(100),
	@TECNICO VARCHAR(100),
	@DIRECCION VARCHAR (100),
	@ESTADO_CASO VARCHAR(50),
	@CEDULA_USUARIO_CREACION INT,
	@FECHA_CIERRE DATETIME,
	@CEDULA_USUARIO_CIERRE INT,
	@USUARIO_ULTIMA_ACTUALIZACION INT,
	@CEDULA_TECNICO INT
AS BEGIN
IF (@ACCION = 'INSERTAR')
BEGIN
	INSERT INTO TBL_SOLICITUDES (
	FECHA_INGRESO, 
	NUM_EXP, 
	POLIZA,
	ASEGURADO,
	CONTACTO,
	FACT,
	TECNICO,
	DIRECCION,
	ESTADO_CASO,
	CEDULA_USUARIO_CREACION,
	FECHA_CIERRE,
	CEDULA_USUARIO_CIERRE,
	USUARIO_ULTIMA_ACTUALIZACION,
	CEDULA_TECNICO
	)
	VALUES (
	GETDATE(), @NUM_EXP, @POLIZA, @ASEGURADO, @CONTACTO, @FACT, @TECNICO, @DIRECCION, @ESTADO_CASO, @CEDULA_USUARIO_CREACION, NULL, NULL, @USUARIO_ULTIMA_ACTUALIZACION, @CEDULA_TECNICO
	)
END
IF (@ACCION = 'UPDATE')
BEGIN
	UPDATE TBL_SOLICITUDES 
	SET POLIZA=@POLIZA, ASEGURADO=@ASEGURADO, CONTACTO =@CONTACTO, FACT=@FACT, TECNICO=@TECNICO, DIRECCION=@DIRECCION, ESTADO_CASO=@ESTADO_CASO, USUARIO_ULTIMA_ACTUALIZACION = @USUARIO_ULTIMA_ACTUALIZACION, CEDULA_TECNICO=@CEDULA_TECNICO
	WHERE ID = @ID
END
IF(@ACCION = 'CIERRE UPDATE')
BEGIN
	UPDATE TBL_SOLICITUDES
	SET POLIZA=@POLIZA, ASEGURADO=@ASEGURADO, CONTACTO =@CONTACTO, FACT=@FACT, TECNICO=@TECNICO, DIRECCION=@DIRECCION, ESTADO_CASO=@ESTADO_CASO, USUARIO_ULTIMA_ACTUALIZACION = @USUARIO_ULTIMA_ACTUALIZACION,
	 FECHA_CIERRE = @FECHA_CIERRE, CEDULA_USUARIO_CIERRE = @CEDULA_USUARIO_CIERRE, CEDULA_TECNICO=@CEDULA_TECNICO
	WHERE ID=@ID
END
END






GO
/****** Object:  StoredProcedure [dbo].[ABC_TURNO_TECNICO]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ABC_TURNO_TECNICO]
	@ACCION VARCHAR(50),
	@ID INT,
	@CEDULA_TECNICO INT,
	@ID_SOLICITUD INT,
	@FECHA_TURNO varchar(50),
	@TRABAJO VARCHAR(50)
AS BEGIN
IF (@ACCION = 'INSERTAR')
BEGIN
	INSERT INTO TBL_TURNOS (
	CEDULA_TECNICO,
	ID_SOLICITUD,
	FECHA_TURNO,
	TRABAJO)
	VALUES (@CEDULA_TECNICO, @ID_SOLICITUD, @FECHA_TURNO, @TRABAJO)
END
IF (@ACCION = 'UPDATE')
BEGIN
	UPDATE TBL_TURNOS 
	SET FECHA_TURNO = @FECHA_TURNO, TRABAJO=@TRABAJO
	WHERE ID_SOLICITUD = @ID_SOLICITUD
END
END





GO
/****** Object:  StoredProcedure [dbo].[INSERTA_NOTAS_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[INSERTA_NOTAS_SOLICITUDES]
	@ACCION VARCHAR(50),
	@ID INT,
	@FECHA_NOTA DATETIME,
	@ID_SOLICITUD INT,
	@OBSERVACIONES VARCHAR (1000),
	@CEDULA_USUARIO_INSERTO_NOTA INT
AS BEGIN
IF (@ACCION = 'INSERTAR')
BEGIN
	INSERT INTO TBL_NOTAS_SOLICITUDES(
	FECHA_NOTA, 
	ID_SOLICITUD, 
	OBSERVACIONES,
	CEDULA_USUARIO_INSERTO_NOTA
	)
	VALUES (
		GETDATE(), @ID_SOLICITUD, @OBSERVACIONES, @CEDULA_USUARIO_INSERTO_NOTA
	)
END

END







GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_CANTIDAD_MATERIAL]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SELECCIONA_CANTIDAD_MATERIAL]
@ID INT
AS BEGIN
SELECT CANTIDAD FROM TBL_MATERIALES
WHERE ID = @ID
END




GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_CASOS_ABIERTOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SELECCIONA_CASOS_ABIERTOS]
AS BEGIN
SELECT * FROM TBL_SOLICITUDES
WHERE ESTADO_CASO = 'ABIERTO'
END






GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_CASOS_AGENDADOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SELECCIONA_CASOS_AGENDADOS]
AS BEGIN
SELECT * FROM TBL_SOLICITUDES
WHERE ESTADO_CASO = 'AGENDADO'
END







GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_CASOS_ASIGNADOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SELECCIONA_CASOS_ASIGNADOS]
AS BEGIN
SELECT * FROM TBL_SOLICITUDES
WHERE ESTADO_CASO = 'ASIGNADO'
END







GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_MATERIALES_A_AGREGAR]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SELECCIONA_MATERIALES_A_AGREGAR]
AS BEGIN
SELECT * FROM TBL_MATERIALES
WHERE CANTIDAD > 0
END



GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_MAXIMO_ID]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SELECCIONA_MAXIMO_ID]
@NUM_EXP INT
AS BEGIN
SELECT MAX(ID)ID
FROM TBL_SOLICITUDES 
WHERE NUM_EXP = @NUM_EXP
END









GO
/****** Object:  StoredProcedure [dbo].[SELECCIONA_TECNICOS_LIBRES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SELECCIONA_TECNICOS_LIBRES]
AS BEGIN
SELECT * FROM TBL_USUARIOS
WHERE ID_ROL = 3 AND (CEDULA NOT IN (SELECT CEDULA_TECNICO FROM TBL_TURNOS) OR CEDULA IN (SELECT CEDULA_TECNICO FROM TBL_TURNOS WHERE TRABAJO='TERMINADO')) AND ESTADO = 'ACTIVO'
END






GO
/****** Object:  StoredProcedure [dbo].[SELECCIONAR_MATERIALES_SOLICITUD]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SELECCIONAR_MATERIALES_SOLICITUD]
@ID_SOLICITUD INT,
@CEDULA_TECNICO INT
AS BEGIN
SELECT *, MATERIAL FROM TBL_MATERIALES_SOLICITUDES T1
JOIN TBL_MATERIALES T2
ON ID_MATERIAL = T2.ID
WHERE ID_SOLICITUD = @ID_SOLICITUD AND CEDULA_TECNICO=@CEDULA_TECNICO AND T1.CANTIDAD > 0
END


GO
/****** Object:  StoredProcedure [dbo].[SELECCIONAR_SOLICITUDES]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SELECCIONAR_SOLICITUDES]
@ID INT
AS BEGIN
SELECT * FROM TBL_SOLICITUDES
WHERE ID = @ID
END







GO
/****** Object:  StoredProcedure [dbo].[SELECCIONAR_TURNOS]    Script Date: 01/05/2017 21:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SELECCIONAR_TURNOS]
@ID INT
AS BEGIN
SELECT * FROM TBL_TURNOS
WHERE ID_SOLICITUD = @ID
END








GO
