#Menu_Opciones {
    margin-top:-50px; 
    width:250%;
    margin-right: 10px;
    position: relative;
    float: right;
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
    padding:6px;
    height: 55px;
}



